body {
  margin: 0;
  background: rgb(246, 246, 246);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.card {
  z-index: 2;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.card p {
  margin: 0;
  padding: 20px;
}
.card h1 {
  text-align: center;
}
.hoverarea {
  position: relative;
  width: 300px;
  height: 400px;
}
.card-camping {
  position: relative;
  z-index: 2;
  transition: 600ms;
  cursor: pointer;
}
.img-tent {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 50%;
}
.img-tree--left {
  z-index: 0;
  position: absolute;
  top: -100px;
  left: 0px;
  width: 200px;
  height: 500px;
  object-fit: contain;
  transition: 600ms;
}
.img-tree--right {
  z-index: 0;
  position: absolute;
  top: -100px;
  right: 0px;
  width: 200px;
  height: 500px;
  object-fit: contain;
  transition: 600ms;
}
.hoverarea:hover .img-tree--left {
  transform: scale(1.2) translateX(-70px) rotate(-20deg);
}
.hoverarea:hover .img-tree--right {
  transform: scale(1.2) translateX(70px) rotate(20deg);
}

.card-camping:hover {
  transform: scale(1.02);
  box-shadow: 0 0 200px rgb(29, 187, 66);
}
